mixin statistic
  ul.statistic
    li.statistic__item
      .statistic__icon
        svg(viewBox="0 0 38 37" class="icon")
          use(xlink:href="img/sprites/sprite.svg#topics")
      .statistic__content
        .statistic__value.body-text 12 837
        .statistic__desc.body-text topics
    li.statistic__item
      .statistic__icon
        svg(viewBox="0 0 44 42" class="icon")
          use(xlink:href="img/sprites/sprite.svg#books")
      .statistic__content
        .statistic__value.body-text 35
        .statistic__desc.body-text subjects