.header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: $primary-color;

  .container {
    display: flex;
    align-items: center;
    height: 60px;
  }

  .logo {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
  }

  .logo__icon {
    display: block;
    width: 32px;
    height: 34px;
    margin-right: 5px;
  }

  .logo__text {
    font-family: $base-font;
    font-weight: 700;
  }
}