mixin header
  header.header
    .container
      if block
        block
      else
        a.logo(href="/")
          span.logo__icon
            img.icon(src="img/logo.png" width="32" alt="EssaySampler logo picture")
          span.logo__text.subtitle.subtitle--dark EssaySampler