mixin header-dropdown
  header.header.header--with-dropdown
    .container
      .header__inner
        button.header-dropdown-control
          span
          span
          span
          span

        a.logo(href="/")
          span.logo__icon
            img.icon(src="img/logo.png" width="32" alt="EssaySampler logo picture")
          span.logo__text.subtitle.subtitle--dark EssaySampler

        nav.header__nav
          ul.header-navigation__list
            li.header-navigation__item.header-navigation__item--submenu
              .header-navigation__item-body
                | Essay samples

                .header-navigation__item-body-icon
                  svg(width='5' height='9' viewbox='0 0 5 9' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M0.670422 -0.000678603C0.888058 0.0682935 1.02577 0.234621 1.18231 0.376047C2.39269 1.46889 3.60119 2.56365 4.81003 3.6581C5.0504 3.8757 5.06403 4.17135 4.83504 4.40059C4.62848 4.60751 4.41284 4.80654 4.19994 5.00799C3.13358 6.01717 2.06618 7.02506 1.00101 8.03519C0.840313 8.18749 0.655504 8.25092 0.434786 8.19255C0.0568263 8.0927 -0.079635 7.65756 0.176567 7.37883C0.21747 7.33433 0.262993 7.29353 0.307318 7.25176C1.40997 6.20853 2.51262 5.16546 3.61561 4.12271C3.63751 4.10199 3.66472 4.08592 3.71623 4.04801C3.66388 4.01249 3.62385 3.99128 3.59168 3.96235C2.45572 2.93572 1.31976 1.90942 0.186018 0.880546C-0.130135 0.593676 -0.0270459 0.162919 0.386892 0.0162991C0.396818 0.0127666 0.405032 0.00505584 0.414102 -0.00072742C0.499314 -0.000711191 0.584868 -0.000694897 0.670422 -0.000678603Z' fill='currentColor')

              .first-submenu
                .first-submenu__back-trigger
                  .first-submenu__back-trigger-icon
                    svg(width='5' height='9' viewbox='0 0 5 9' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M0.670422 -0.000678603C0.888058 0.0682935 1.02577 0.234621 1.18231 0.376047C2.39269 1.46889 3.60119 2.56365 4.81003 3.6581C5.0504 3.8757 5.06403 4.17135 4.83504 4.40059C4.62848 4.60751 4.41284 4.80654 4.19994 5.00799C3.13358 6.01717 2.06618 7.02506 1.00101 8.03519C0.840313 8.18749 0.655504 8.25092 0.434786 8.19255C0.0568263 8.0927 -0.079635 7.65756 0.176567 7.37883C0.21747 7.33433 0.262993 7.29353 0.307318 7.25176C1.40997 6.20853 2.51262 5.16546 3.61561 4.12271C3.63751 4.10199 3.66472 4.08592 3.71623 4.04801C3.66388 4.01249 3.62385 3.99128 3.59168 3.96235C2.45572 2.93572 1.31976 1.90942 0.186018 0.880546C-0.130135 0.593676 -0.0270459 0.162919 0.386892 0.0162991C0.396818 0.0127666 0.405032 0.00505584 0.414102 -0.00072742C0.499314 -0.000711191 0.584868 -0.000694897 0.670422 -0.000678603Z' fill='currentColor')
                  .first-submenu__back-trigger-body
                    | Essay samples


                ul.fisrt-submenu-list
                  li.first-submenu-list__item.first-submenu-list__item--submenu
                    .first-submenu-list__item-body
                      | Business & Marketing

                      .first-submenu-list__item-body-icon
                        svg(width='5' height='9' viewbox='0 0 5 9' fill='none' xmlns='http://www.w3.org/2000/svg')
                          path(d='M0.670422 -0.000678603C0.888058 0.0682935 1.02577 0.234621 1.18231 0.376047C2.39269 1.46889 3.60119 2.56365 4.81003 3.6581C5.0504 3.8757 5.06403 4.17135 4.83504 4.40059C4.62848 4.60751 4.41284 4.80654 4.19994 5.00799C3.13358 6.01717 2.06618 7.02506 1.00101 8.03519C0.840313 8.18749 0.655504 8.25092 0.434786 8.19255C0.0568263 8.0927 -0.079635 7.65756 0.176567 7.37883C0.21747 7.33433 0.262993 7.29353 0.307318 7.25176C1.40997 6.20853 2.51262 5.16546 3.61561 4.12271C3.63751 4.10199 3.66472 4.08592 3.71623 4.04801C3.66388 4.01249 3.62385 3.99128 3.59168 3.96235C2.45572 2.93572 1.31976 1.90942 0.186018 0.880546C-0.130135 0.593676 -0.0270459 0.162919 0.386892 0.0162991C0.396818 0.0127666 0.405032 0.00505584 0.414102 -0.00072742C0.499314 -0.000711191 0.584868 -0.000694897 0.670422 -0.000678603Z' fill='currentColor')

                    .second-submenu
                      .second-submenu__back-trigger
                        .second-submenu__back-trigger-icon
                          svg(width='5' height='9' viewbox='0 0 5 9' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M0.670422 -0.000678603C0.888058 0.0682935 1.02577 0.234621 1.18231 0.376047C2.39269 1.46889 3.60119 2.56365 4.81003 3.6581C5.0504 3.8757 5.06403 4.17135 4.83504 4.40059C4.62848 4.60751 4.41284 4.80654 4.19994 5.00799C3.13358 6.01717 2.06618 7.02506 1.00101 8.03519C0.840313 8.18749 0.655504 8.25092 0.434786 8.19255C0.0568263 8.0927 -0.079635 7.65756 0.176567 7.37883C0.21747 7.33433 0.262993 7.29353 0.307318 7.25176C1.40997 6.20853 2.51262 5.16546 3.61561 4.12271C3.63751 4.10199 3.66472 4.08592 3.71623 4.04801C3.66388 4.01249 3.62385 3.99128 3.59168 3.96235C2.45572 2.93572 1.31976 1.90942 0.186018 0.880546C-0.130135 0.593676 -0.0270459 0.162919 0.386892 0.0162991C0.396818 0.0127666 0.405032 0.00505584 0.414102 -0.00072742C0.499314 -0.000711191 0.584868 -0.000694897 0.670422 -0.000678603Z' fill='currentColor')
                        .second-submenu__back-trigger-body
                          | Business & Marketing

                      ul.second-submenu-list
                        li.second-submenu-list__item
                          a.second-submenu-list__item-link(href="#") Advertising

                        li.second-submenu-list__item
                          a.second-submenu-list__item-link(href="#") Business

                        li.second-submenu-list__item
                          a.second-submenu-list__item-link(href="#") Business Administration

                        li.second-submenu-list__item
                          a.second-submenu-list__item-link(href="#") Economics

                        li.second-submenu-list__item
                          a.second-submenu-list__item-link(href="#") Entrepreneurship

                        li.second-submenu-list__item
                          a.second-submenu-list__item-link(href="#") Internet Marketing

                        li.second-submenu-list__item
                          a.second-submenu-list__item-link(href="#") Marketing

                        li.second-submenu-list__item
                          a.second-submenu-list__item-link(href="#") Public Relations

                        li.second-submenu-list__item
                          a.second-submenu-list__item-link(href="#") Business Law


                  li.first-submenu-list__item
                    a.first-submenu-list__item-link(href="#") Management

                  li.first-submenu-list__item
                    a.first-submenu-list__item-link(href="#") Management

                  li.first-submenu-list__item
                    a.first-submenu-list__item-link(href="#") Computers & Technology

                  li.first-submenu-list__item
                    a.first-submenu-list__item-link(href="#") Criminal Justice & Legal

                  li.first-submenu-list__item
                    a.first-submenu-list__item-link(href="#") Nursing & Healthcare

                  li.first-submenu-list__item
                    a.first-submenu-list__item-link(href="#") Liberal Arts & Humanities

                  li.first-submenu-list__item
                    a.first-submenu-list__item-link(href="#") Art

                  li.first-submenu-list__item
                    a.first-submenu-list__item-link(href="#") Natural science

                  li.first-submenu-list__item
                    a.first-submenu-list__item-link(href="#") Science & Engineering

            li.header-navigation__item
              a.header-navigation__item-link(href="#")
                | Instructions

            li.header-navigation__item
              a.header-navigation__item-link(href="#")
                | Contacts