.section--intro {
  min-height: calc(100vh - 264px);
  padding: 60px 0 40px;
  overflow: hidden;

  @media(min-width: 768px) {
    min-height: calc(100vh - 136px);
    padding: 120px 0 80px;
  }

  .container {
    position: relative;
  }

  .decoration {
    display: none;

    @media(min-width: 768px) {
      display: block;
      position: absolute;
      top: -180px;
      right: -205px;
      width: 980px;
    }

    @media(min-width: 1200px) {
      top: -280px;
      right: -245px;
      width: 1334px;
    }
  }
}

.page-title {
  margin-bottom: 60px;
}

.page-subtitle {
  max-width: 420px;

  @media(min-width: 1200px) {
    max-width: 610px;
  }
}

.decoration__image {
  display: block;
  width: 100%;
  height: 100%;
}
