@import "../helpers/_variables.scss";

.header,
.footer {
  position: relative;
  z-index: 10;
}

.section--intro {
  min-height: calc(100vh - 264px);
  padding: 54px 0 80px;
  overflow: hidden;

  @media(min-width: 768px) {
    min-height: calc(100vh - 136px);
  }

  .container {
    position: relative;
  }

  .decoration {
    display: none;

    @media(min-width: 992px) {
      display: block;
      position: absolute;
      width: 1329px;
      height: 851px;
      right: -364px;
      top: -122px;
    }
  }
}

.page-title {
  margin-bottom: 16px;
}

.page-subtitle {
  margin-bottom: 40px;
}

.form {
  max-width: 100%;
  width: 635px;
}

.form__field {
  display: block;

  & + & {
    margin-top: 60px;
  }
}

.form__textarea,
.form__input {
  display: block;
  width: 100%;
  background: #ededee;
  border: none;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.form__textarea {
  height: 176px;
  resize: vertical;
}

.form__input {
  height: 60px;
  line-height: 60px;
  font-size: inherit;
  color: inherit;
}

.form__submit {
  display: block;
  width: 189px;
  height: 51px;
  margin-top: 34px;
  background: #FFFFFF;
  border: 1px solid #368CBF;
  box-sizing: border-box;
  box-shadow: 0px 4px 5px #368CBF;
  border-radius: 5px;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #368CBF;
  -webkit-appearance: none;
  user-select: none;
  cursor: pointer;
}

.thank-you-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  transition: opacity 0.3s ease-in-out;

  &.is-active {
    opacity: 1;
    pointer-events: auto;
  }

  &__underlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(54, 140, 191, 0.2);
    backdrop-filter: blur(24px);
    z-index: 1;
  }

  &__inner {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 635px;
    max-width: 90%;
    height: 290px;
    padding: 32px 24px;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    @media(min-width: 992px) {
      padding: 60px 70px;
    }
  }

  &__title {
    font-family: $base-font;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #000;
  }

  &__body {
    font-family: $secondary-font;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: $black;
  }
}