@import "../helpers/_variables.scss";

body {
  background: #D7E8F2;
}

.breadcrumbs {
  margin: 21px 0 22px;
}

.breadcrumbs__list {
  display: flex;
  list-style: none;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;

  & + & {
    &::before {
      content: "\00a0/\00a0";
      position: relative;
    }
  }
}

.breadcrumbs__link,
.breadcrumbs__item {
  font-size: 14px;
  line-height: 17px;
  color: #000;
  text-decoration: none;
  font-family: $secondary-font;
}

.breadcrumbs__link:hover {
  color: #368CBF;
}

.section--intro {
  @media(min-width: 768px) {
    padding-bottom: 60px;
  }

  .section__row {
    display: flex;
    flex-direction: column;

    @media(min-width: 768px) {
      position: relative;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  .section__column {
    &:nth-child(2) {
      order: -1;
      margin-bottom: 16px;
    }

    @media(min-width: 768px) {
      &:nth-child(1) {
        width: calc(100% - 186px);
      }

      &:nth-child(2) {
        width: 170px;
        margin-bottom: 0;
        order: 1;
      }
    }

    @media(min-width: 992px) {
      &:nth-child(1) {
        width: calc(100% - 226px);
      }

      &:nth-child(2) {
        width: 204px;
      }
    }

    @media(min-width: 1200px) {
      &:nth-child(1) {
        width: calc(100% - 276px);
      }
    }
  }

  .statistic {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .statistic__item {
    display: block;

    & + .statistic__item {
      margin-left: 18px;
    }

    @media(min-width: 768px) {
      text-align: right;
    }
  }
}

.statistic__numbers {
  display: flex;

  @media(min-width: 768px) {
    margin-left: auto;
    justify-content: flex-end;
  }
}

.statistic__value {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media(min-width: 768px) {
    font-size: 20px;
  }

  @media(min-width: 992px) {
    font-size: 28px;
    line-height: 34px;
  }
}

.statistic__desc,
.statistic__pic-label {
  margin-top: 4px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  @media(min-width: 480px) {
    font-size: 16px;
  }

  @media(min-width: 768px) {
    text-align: right;
  }

  @media(min-width: 992px) {
    font-size: 20px;
  }
}

.statistic__pic {
  width: 120px;
  margin-left: auto;

  @media(min-width: 480px) {
    width: 136px;
  }

  @media(min-width: 768px) {
    margin-top: 46px;
  }

  @media(min-width: 1200px) {
    width: 194px;
  }
}

.eassay {
  background: #FFFFFF;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
  padding: 24px 16px;
  margin: 0 -20px;

  @media(min-width: 480px) {
    padding: 32px 48px;
  }

  @media(min-width: 768px) {
    margin: 0;
  }

  @media(min-width: 992px) {
    padding: 36px 114px 82px 110px;
  }

  & + & {
    margin-top: 78px;

    @media(min-width: 768px) {
      margin-top: 130px;
    }
  }
}

.category,
.text-block__tag {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  font-family: $secondary-font;
  margin-bottom: 10px;
}

.text-block__tag {
  margin-bottom: 5px;
}

.text-block__title {
  padding: 0;
  margin-bottom: 10px;
  border: none;
  background: none;
  text-align: left;
}

button.text-block__title {
  color: #000000;
  text-decoration: none;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $primary-color;
  }
}

.text-block__body {
  line-height: 26px;

  & + & {
    margin-top: 16px;
  }
}

.essay__title {
  margin-bottom: 12px;

  & + .essay__section {
    margin-top: 58px;
  }
}

.essay__disclaimer {
  margin-bottom: 58px;
  font-style: italic;
  line-height: 1.4;
  color: #4d4d4d;
}

.essay__section {
  & + & {
    margin-top: 30px;
  }
}

.section--related-samples {
  padding-top: 30px;
  padding-bottom: 50px;

  .container {
    text-align: center;
    max-width: 100%;
  }
}

.related-samples-title {
  display: inline-block;
  position: relative;
  padding: 0 70px;
  margin-bottom: 24px;
  background-color: #D7E8F2;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 100vw;
    background-color: $primary-color;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

.essay-card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.essay-card-list__item {
  width: 256px;
  height: 362px;
  margin: 0 8px 16px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 570px) and (max-width: 840px) {
    &:nth-child(3) {
      display: none;
    }
  }

  @media(max-width: 1120px) {
    &:nth-child(4) {
      display: none;
    }
  }

  @media(max-width: 1400px) {
    &:nth-child(5) {
      display: none;
    }
  }
}

.essay-card {
  display: block;
  height: 100%;
  text-decoration: none;
  padding: 30px 32px 42px 28px;
  background: #fff;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
  text-align: left;
  transition: transform 0.3s ease-in-out;

  &:hover,
  &:focus {
    transform: translate(-5px, -5px);
  }
}

.essay-card__inner {
  height: 100%;
  overflow: hidden;
}

.essay-card__title {
  margin-bottom: 16px;
  font-family: $base-font;
}

.modal {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @media(min-width: 768px) {
    top: 60px;
  }

  &.is-visible {
    display: block;
  }
}

.modal__backdrop {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: #01223770;
}

.modal__body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  width: 1140px;
  max-width: 278px;
  padding: 27px 20px 38px 24px;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1), 0px 4px 3px rgba(0, 0, 0, 0.25);

  @media(min-width: 768px) {
    overflow: hidden;
    top: 60px;
    transform: translateX(-50%);
    max-width: 90%;
    padding: 60px 300px 48px 96px;
    background-image: url(../img/order-bg.png);
    background-size: 268px 268px;
    background-position: bottom -12px right 22px;
    background-repeat: no-repeat;
  }
}

.modal__title {
  text-align: center;
  margin-bottom: 37px;

  @media (min-width: 768px) {
    text-align: left;
    margin-bottom: 60px;
  }
}

.modal__actions {
  @media(min-width: 960px) {
    display: flex;
  }
}

.modal__action {
  display: block;
  border-radius: 5px;
  background: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: $secondary-font;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  width: 100%;
  height: 40px;
  max-width: 189px;
  margin-left: auto;
  margin-right: auto;
  line-height: 40px;
  cursor: pointer;

  @media(min-width: 960px) {
    height: 60px;
    margin-left: 0;
    line-height: 60px;
    max-width: unset;
  }

  &--primary {
    color: #368CBF;
    border: 1px solid #368CBF;
    box-shadow: 0px 4px 5px #368CBF;
    margin-bottom: 24px;

    @media(min-width: 768px) {
      margin-left: 0;
    }

    @media(min-width: 960px) {
      width: 390px;
      margin-bottom: 0;
      margin-right: 24px;
    }
  }

  &--secondary {
    color: #000;
    border: 1px solid #333;

    @media(min-width: 768px) {
      margin-left: 0;
    }

    @media(min-width: 960px) {
      width: 240px;
      flex-shrink: 0;
    }
  }
}

.modal__close {
  position: absolute;
  top: -38px;
  right: 0;
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  border-radius: 50%;

  @media(min-width: 768px) {
    display: none;
  }
}

.film-poster {
  width: 100%;
  max-width: 206px;

  @media(min-width: 768px) {
    display: block;
    width: 206px;
    max-width: 100%;
    margin-top: 60px;
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.film-poster__description {
  text-align: right;
}

.film-info-list {
  margin-block-start: 0;
  margin-block-end: 0;
}

.film-info-list__term {
  margin-bottom: 2px;
}

.film-info-list__description {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 23px;
  margin-left: 0;
  margin-inline-start: 0;

  @media(min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.video-trailer {
  display: flex;
  align-items: flex-start;
  
  @media (max-width: 359px) {
    .film-poster {
      display: none;
    }
  }
}

.eassay.video-trailer {
  position: relative;
  padding-right: 24px;

  @media (min-width: 768px) {
    padding-right: 55px;
  }
}

.video-trailer__column--description {
  width: 204px;
  margin-right: 8px;

  @media (min-width: 768px) {
    flex-shrink: 0;
    margin-right: 69px;
  }
}

.video-trailer__column--video {
  flex-grow: 1;

  @media (max-width: 991px) {
    .film-trailer-video-container {
      display: none;
    }
  }

  .film-poster {
    margin-top: 0;

    @media (min-width: 992px) {
      display: none;
    }
  }
}

.film-trailer-video-container {
  position: relative;
  padding-top: 59%;

  @media (max-width: 991px) {
    margin-top: 46px;
  }
}

.film-trailer-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section--mobile-video-section {
  @media (min-width: 992px) {
    display: none;
  }
}

.absolute-title {
  position: absolute;
  top: -36px;
  font-size: 16px;
  line-height: 19px;

  @media (min-width: 992px) {
    top: -60px;
    font-size: 30px;
    line-height: 36px;
  }
}

.section__column--sidebar {
  .film-poster__description {
    text-align: left;
  }

  .film-poster__img {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.eassay--key-concepts {
  position: relative;
  margin-top: 80px;

  @media(min-width: 992px) {
    margin-top: 135px;
  }
}

.key-concepts-list {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
  margin: -4px;
}

.key-concepts-item {
  margin: 4px;
  flex-basis: calc(50% - 8px);
  max-width: calc(50% - 8px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (min-width: 992px) {
    flex-basis: calc(33.3333% - 8px);
    max-width: calc(33.3333% - 8px);
  }
}

.sidebar-order {
  display: none;

  @media (min-width: 768px) {
    display: block;
    margin-top: 46px;
  }
}

.eassay__section--order-action {
  margin-top: 36px;
}

.order-action {
  display: block;
  width: 100%;
  padding: 14px 8px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  font-family: Montserrat, Gotham, Roboto, "Open Sans", sans-serif;
  letter-spacing: 0.05em;
  border-radius: 5px;
  background: #fff;
  color: #368CBF;
  border: 2px solid #368CBF;
  text-decoration: none;
  text-align: center;
  font-weight: 700;

  &--secondary {
    background: #63BF2C;
    border-color: #63BF2C;
    color: #fff;
    box-shadow: 0px 4px 10px rgba(99, 191, 44, 0.4);

    &.order-action--outline {
      background: #fff;
      color: #63BF2C;
      box-shadow: none;
    }
  }
}

.eassay__section--order-action {
  padding-bottom: 70px;

  .order-action {
    max-width: 492px;
  }
}

.eassay-utility {
  position: relative;
  padding-top: 49px;
  padding-bottom: 0;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -16px;
    right: -16px;
    height: 1px;
    background: #368CBF;

    @media(min-width: 480px) {
      left: -48px;
      right: -48px;
    }

    @media(min-width: 992px) {
      left: -114px;
      right: -110px;
    }
  }
}

.eassay-utility__actions {
  display: flex;
  margin-top: 24px;

  @media (min-width: 768px) {
    margin-top: 0;
    margin-left: 12px;
  }

  @media (min-width: 1200px) {
    margin-left: 48px;
  }
}

.eassay-utility__action {
  display: block;
  width: 125px;
  height: 38px;
  border: 1px solid #000;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 38px;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  font-family: $secondary-font;

  & + & {
    margin-left: 12px;

    @media (min-width: 1200px) {
      margin-left: 28px;
    }
  }
}

.extra-help-cta {
  text-align: center;

  .eassay + &.eassay {
    margin-top: 21px;
    padding-bottom: 33px;
  }

  &__title {
    margin-bottom: 12px;
  }

  &__subtitle {
    margin-bottom: 22px;
  }

  .order-action {
    max-width: 282px;
    margin: 0 auto;
  }
}

.blurred-area {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 253, 253, 0.08);
    backdrop-filter: blur(10px);
    z-index: 1;
  }
}

.fixed-cta {
  position: fixed;
  top: 320px;
  left: 50%;
  transform: translateX(-50%);
  width: 206px;
  z-index: 2;

  @media (min-width: 768px) {
    top: 430px;
    left: calc(50% - 113px);
  }

  @media (min-width: 1200px) {
    left: calc(50% - 138px);
  }

  &--with-title {
    width: 240px;
    top: 200px;
    text-align: center;

    @media (min-width: 768px) {
      width: calc(100% - 266px);
      max-width: 880px;
      padding: 0 24px;
    }

    @media (min-width: 1200px) {
      width: calc(100% - 316px);
    }
  }

  &.is-absolute {
    position: absolute;
  }
}

.fixed-cta__tag {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
  font-family: $secondary-font;

  @media (min-width: 768px) {
    margin-bottom: 20px;
  }
}

.fixed-cta__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: $base-font;
  margin-bottom: 27px;
  color: #368CBF;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 54px;
  }
}

.fixed-cta__action {
  width: 206px;
  margin: 0 auto;
}

.desktop-only {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}
