@import "../helpers/_variables.scss";

body {
  background: #D7E8F2;
}

.breadcrumbs {
  margin: 21px 0 22px;
}

.breadcrumbs__list {
  display: flex;
  list-style: none;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;

  & + & {
    &::before {
      content: "\00a0/\00a0";
      position: relative;
    }
  }
}

.breadcrumbs__link,
.breadcrumbs__item {
  font-size: 14px;
  line-height: 17px;
  color: #000;
  text-decoration: none;
  font-family: $secondary-font;
}

.breadcrumbs__link:hover {
  color: #368CBF;
}

.section--intro {
  @media(min-width: 768px) {
    padding-bottom: 60px;
  }

  .section__row {
    display: flex;
    flex-direction: column;

    @media(min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  .section__column {
    &:nth-child(2) {
      order: -1;
      margin-bottom: 16px;
    }

    @media(min-width: 768px) {
      &:nth-child(1) {
        width: calc(100% - 186px);
      }

      &:nth-child(2) {
        width: 170px;
        margin-bottom: 0;
        order: 1;
      }
    }

    @media(min-width: 992px) {
      &:nth-child(1) {
        width: calc(100% - 226px);
      }

      &:nth-child(2) {
        width: 204px;
      }
    }

    @media(min-width: 1200px) {
      &:nth-child(1) {
        width: calc(100% - 276px);
      }
    }
  }

  .statistic {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .statistic__item {
    display: block;

    & + .statistic__item {
      margin-left: 18px;
    }

    @media(min-width: 768px) {
      text-align: right;
    }
  }
}

.statistic__numbers {
  display: flex;

  @media(min-width: 768px) {
    margin-left: auto;
    justify-content: flex-end;
  }
}

.statistic__value {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media(min-width: 768px) {
    font-size: 20px;
  }

  @media(min-width: 992px) {
    font-size: 28px;
    line-height: 34px;
  }
}

.statistic__desc,
.statistic__pic-label {
  margin-top: 4px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  @media(min-width: 480px) {
    font-size: 16px;
  }

  @media(min-width: 768px) {
    text-align: right;
  }

  @media(min-width: 992px) {
    font-size: 20px;
  }
}

.statistic__pic {
  width: 120px;
  margin-left: auto;

  @media(min-width: 480px) {
    width: 136px;
  }

  @media(min-width: 768px) {
    margin-top: 46px;
  }

  @media(min-width: 1200px) {
    width: 194px;
  }
}

.eassay {
  background: #FFFFFF;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
  padding: 24px 16px;
  margin: 0 -20px;

  @media(min-width: 480px) {
    padding: 32px 48px;
  }

  @media(min-width: 768px) {
    margin: 0;
  }

  @media(min-width: 992px) {
    padding: 36px 114px 82px 110px;
  }
}

.category,
.text-block__tag {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  font-family: $secondary-font;
  margin-bottom: 10px;
}

.text-block__tag {
  margin-bottom: 5px;
}

.text-block__title {
  margin-bottom: 10px;
}

a.text-block__title {
  color: #000000;
  text-decoration: none;

  &:hover {
    color: $primary-color;
  }
}

.text-block__body {
  line-height: 26px;

  & + & {
    margin-top: 16px;
  }
}

.essay__title {
  margin-bottom: 12px;

  & + .essay__section {
    margin-top: 58px;
  }
}

.essay__disclaimer {
  margin-bottom: 58px;
}

.essay__section {
  & + & {
    margin-top: 30px;
  }
}

.section--related-samples {
  padding-top: 30px;
  padding-bottom: 50px;

  .container {
    text-align: center;
    max-width: 100%;
  }
}

.related-samples-title {
  display: inline-block;
  position: relative;
  padding: 0 70px;
  margin-bottom: 24px;
  background-color: #D7E8F2;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 100vw;
    background-color: $primary-color;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

.essay-card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.essay-card-list__item {
  width: 256px;
  height: 362px;
  margin: 0 8px 16px;

  &:last-child {
    margin-bottom: 0;
  }

  @media(max-width: 569px) {
    &:nth-child(2) {
      display: none;
    }
  }

  @media(max-width: 840px) {
    &:nth-child(3) {
      display: none;
    }
  }

  @media(max-width: 1120px) {
    &:nth-child(4) {
      display: none;
    }
  }

  @media(max-width: 1400px) {
    &:nth-child(5) {
      display: none;
    }
  }
}

.essay-card {
  display: block;
  height: 100%;
  text-decoration: none;
  padding: 30px 32px 36px 28px;
  background: #fff;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
  text-align: left;
  transition: transform 0.3s ease-in-out;

  &:hover,
  &:focus {
    transform: translate(-5px, -5px);
  }
}

.essay-card__inner {
  height: 100%;
  overflow: hidden;
}

.essay-card__title {
  margin-bottom: 6px;
  font-family: $base-font;
}