.footer {
  padding-top: 32px;
  padding-bottom: 24px;
  height: 76px;
  background: #368CBF;
}

.footer__nav {
  max-width: 960px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
}

.navigation-list__link {
  font-weight: 700;
}