.footer {
  padding-top: 62px;
  padding-bottom: 34px;
  background: #368CBF;
}

.footer__nav {
  max-width: 960px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
}