.footer {
  padding-top: 32px;
  padding-bottom: 24px;
  background: #368CBF;
  height: 204px;

  @media (min-width: 768px) {
    height: auto;
  }
}

.footer__nav {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 960px;
  margin: 0 auto;

  @media (min-width: 768px) {
    display: block;
    text-align: left;
  }
}

.navigation-list {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.navigation-list__link {
  display: inline-block;
  padding: 8px 0;
  font-weight: 700;
}