mixin footer
  footer.footer
    .container
      nav.footer__nav
        ul.navigation-list
          li.navigation-list__item
            a.navigation-list__link.link.link--white(href="/about.html") About Us
          li.navigation-list__item
            a.navigation-list__link.link.link--white(href="#") Terms &amp; Conditions
          li.navigation-list__item
            a.navigation-list__link.link.link--white(href="#") Privacy Policy
          li.navigation-list__item
            a.navigation-list__link.link.link--white(href="/contacts.html") Contacts